/* You can add global styles to this file, and also import other style files */
$primary-color: #9FC131;
$secondary-color: #DBF227;
$tertiary-color: #005C53;
$accent-color: #042940;
$neutral-color: #D6D58E;

:root {
    --primary-color: #9FC131;
    --secondary-color: #DBF227;
    --tertiary-color: #005C53;
    --accent-color: #042940;
    --neutral-color: #D6D58E;
    background-color: #676767;
   
}

main {
    margin: 10px;
}